@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root{
  --primaryColor: #5C58B6;
  --secondaryColor: #B957CE;
  --thirdColor: #5994CE;
  --fourthColor: #3A4E93;
  --primaryFont: 'DotGothic16', sans-serif;
  --secondaryFont: 'Didact Gothic', sans-serif;
}